{% extends 'base.html.twig' %}

{% block title %}{{event.nomEvent}}{% endblock %}

{% block body %}
    <h1>{{event.nomEvent}}</h1>
    <ul>
    <li>Nombre de places : {{event.nbPlaces}}</li>
    <li>Description : {{event.description}}</li>
        {% for date in event.datesEvent %}
        <li>{{ date.dateEvent.dateEvent|date("m/d/Y") }}</li>
        {% endfor %}
    </ul>

{% endblock %}