{% extends 'base.html.twig' %}

{% block title %}{{event.nomEvent}}{% endblock %}

{% block body %}
    <h1>{{nomEvent}}</h1>
    <li>Nombre de places : {{event.nbPlaces}}</li>
    <li>Description : {{event.description}}</li>
    <li>Date : {{event.dateEvent}}</li>

{% endblock %}