{% extends 'base.html.twig' %}

{% block title %}{{event.nomEvent}}{% endblock %}

{% block body %}
<div class="flex flex-col">
    <h1 class="text-center text-3xl md:text-5xl  lg:text-6xl mt-4 lg:mt-7 lg:mb-5 lg:text-10xl text-secondary-800">{{event.nomEvent}}</h1>
    <div class="flex flex-col  justify-center">
        <div class="lg:flex lg:flex-row">
            <div class="flex justify-center p-4" >
                <img class="max-w-lg rounded-2xl " src="{{ asset("images/soigneur.jpg") }}">
            </div>
            <div class="m-4 lg:w-1/2">
                <p>{{event.description}}</p>
            </div>
        </div>

            <h2>Informations complémentaires:</h2>
            <p>Nombre de places : {{event.nbPlaces}}</p>

    </div>

    <div class="flex flex-col">
        <h2 class="text-secondary-800">Les dates prochaines: </h2>
        {% for date in event.datesEvent %}
        <div class="flex flex-row">
            <p class="text-center">{{ date.dateEvent.dateEvent|date("d/m/Y") }}</p>
            <p>{{ date.horaire }}h</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}