{% extends 'base.html.twig' %}

{% block title %}{{ famille_animal.nomFamilleAnimal }} {% endblock %}
{% block body %}
<div class="mt-36 lg:mt-24 ">
    <h1 class="text-center text-secondary-800 text-5xl md:text-5xl  lg:text-6xl lg:text-10xl mb-5">{{ famille_animal.nomFamilleAnimal }}</h1>
    <div class="flex flex-row p-4 ">
        <div>
            {% if famille_animal.imgFamilleAnimal  is defined and famille_animal.imgFamilleAnimal is not null %}
                <img class="w-[100%] rounded-2xl" src="{{ asset('images/famille_animal/') }}{{ famille_animal.imgFamilleAnimal }}"  alt="Image de {{ famille_animal.nomFamilleAnimal }}">
            {% else %}
                <img class="w-[100%] rounded-2xl" src="{{ asset("images/default_images/famille_animal-placeholder.jpg")}}"  alt="Image de {{ famille_animal.nomFamilleAnimal }}">
            {% endif %}
        </div>
        <div class="flex flex-col justify-evenly ml-2 ">
            <div class="m-2 bg-secondary-800 rounded-xl p-1">
                <p class="text-primary-100 text-2xl lg:text-xl text-center font-bold">Nom de la famille</p>
                <p class="text-primary-100 text-2xl lg:text-xl text-center">{{ famille_animal.nomFamilleAnimal }}</p>
                <p class="text-primary-100 text-2xl lg:text-xl text-center font-bold">Nom scientifique</p>
                <p class="text-primary-100 text-2xl lg:text-xl text-center italic">{{ famille_animal.nomScientifique }}</p>
                <p class="text-primary-100 text-2xl lg:text-xl text-center font-bold">Espèce</p>
                <p class="text-primary-100 text-2xl lg:text-xl text-center">
                {% if famille_animal.espece is not empty%}
                    {{ famille_animal.espece.libEspece }}
                {% else %}
                    Non renseigné
                {% endif %}
                </p>
            </div>
            <div class="m-2 bg-secondary-800 rounded-xl p-1">
                <p class="text-primary-100 text-2xl lg:text-xl text-center font-bold">Degrée de danger d'extinction</p>
                <p class="text-primary-100 text-2xl lg:text-xl text-center">{{ famille_animal.dangerExtinction}}</p>
                <p class="text-primary-100 text-2xl lg:text-xl text-center font-bold">Type d'alimentation :</p>
                <p class="text-primary-100 text-2xl lg:text-xl text-center">{{ famille_animal.typeAlimentation }} </p>
                <p class="text-primary-100 text-2xl lg:text-xl text-center font-bold">Habitat</p>
                {% if famille_animal.assoHabitatFamilleAnimals is not empty %}
                    <p class="text-primary-100 text-2xl lg:text-xl text-center">
                    {% for habitat in famille_animal.assoHabitatFamilleAnimals %}
                       {{ habitat.habitat.libHabitat }}
                    {% endfor%}
                    </p>
                {% else %}
                    <p class="text-primary-100 text-2xl lg:text-xl text-center">Habitat non renseigné</p>
                {% endif %}
            </div>
            <div class="m-2 bg-secondary-800 rounded-xl p-1">
                <p class="text-primary-100 text-2xl lg:text-xl text-center font-bold">Description</p>
                <p class="text-primary-100 text-2xl lg:text-xl">{{ famille_animal.description}}</p>
            </div>
        </div>
    </div>
    <h2 class="text-center text-secondary-800 text-2xl md:text-4xl  lg:text-5xl mb-5 mt-5">Les animaux</h2>
    <div class="flex flex-wrap justify-center content-center">
    {% for animal in animaux %}
            <a class="flex  w-1/2 lg:w-3/4" href="{{ path('app_animal_show',{'id':animal.id}) }}">
                <div class="flex bg-secondary-800 m-2 rounded-2xl">
                    {% if animal.imgAnimal is defined and animal.imgAnimal is not null %}
                        <img class="w-1/2 lg:w-1/4 p-2" src="{{ asset('images/animaux/') }}{{ animal.imgAnimal }}"  alt="Image de {{ animal.nom }}">
                    {% else %}
                        <img class="w-1/2 lg:w-1/4 p-2" src="{{ asset("images/default_images/animal-placeholder.png")}}"  alt="Image de {{ animal.nom }}">
                    {% endif %}
                    <div class="flex  flex-col justify-center ml-3 w-[100%]">
                            <p class="text-center text-primary-100 text-4xl lg:text-10xl">{{ animal.nom }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
{% endblock %}



