{% extends 'base.html.twig' %}

{% block title %}Familles{% endblock %}

{% block body %}
    <div class="mt-36 lg:mt-24">
        <h1 class="text-center text-secondary-800 text-5xl md:text-5xl  lg:text-6xl lg:text-10xl mb-5">Nos animaux</h1>
        {% include('search-bar/_form.html.twig') %}
        <div class="w-full bg-background-200 pt-12 pb-36">
            <div class="grid grid-cols-2 lg:grid-cols-3 gap-5 w-[90%] lg:w-[70%] m-auto">
                {% for animal in animaux %}
                    <div class="flex flex-col bg-secondary-800/60 backdrop-filter backdrop-blur-sm border border-secondary-50 border-s rounded-3xl ">
                        <a class="object-contain m-2" href="{{ path('app_famille_animal_fambyid',{'id':animal.id}) }}">
                            <div class="bg-secondary-800/60 backdrop-filter backdrop-blur-sm border border-secondary-50 border-s p-2 rounded-2xl">
                                {% if animal.imgFamilleAnimal  is defined and animal.imgFamilleAnimal is not null %}
                                    <img class="w-[100%] rounded-2xl" src="{{ asset('images/famille_animal/') }}{{ animal.imgFamilleAnimal }}"  alt="Image de {{ animal.nomFamilleAnimal }}">
                                {% else %}
                                    <img class="w-[100%] rounded-2xl" src="{{ asset("images/default_images/famille_animal-placeholder.jpg")}}"  alt="Image de {{ animal.nomFamilleAnimal }}">
                                {% endif %}
                            </div>
                            <div>
                                <p class="text-center text-4xl lg:text-2xl text-text-50">{{ animal.nomFamilleAnimal }}</p>
                                <p class="text-center text-xl lg:text-md italic text-text-200/50">{{ animal.nomScientifique }}</p>
                            </div>
                        </a>
                    </div>
                {%endfor%}
            </div>
        </div>
    </div>

{% endblock %}
