{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="flex justify-center content-center h-[100%]">
        <div class="mt-32 ">
            <h1 class="text-center text-secondary-800">Inscription</h1>
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            <div class="flex flex-col">
                {{ form_label(registrationForm.nomUser,'Nom',
                    {'label_attr':{'class':'text-secondary-800'}}) }}
                {{ form_errors(registrationForm.nomUser) }}
                {{ form_widget(registrationForm.nomUser,
                    {'label_attr':{'class':''}})}}
            </div>
            <div class="flex flex-col mt-4">
                {{ form_label(registrationForm.pnomUser,'Prénom',
                    {'label_attr':{'class':'text-secondary-800'}}) }}
                {{ form_errors(registrationForm.pnomUser) }}
                {{ form_widget(registrationForm.pnomUser)}}
            </div>
            <div class="flex flex-col mt-4">
                {{ form_label(registrationForm.email,'Email',
                    {'label_attr':{'class':'text-secondary-800'}}) }}
                {{ form_errors(registrationForm.email) }}
                {{ form_widget(registrationForm.email)}}
            </div>
            <div class="flex flex-col mt-4">
                {{ form_label(registrationForm.phoneUser,'Numéro de téléphone',
                    {'label_attr':{'class':'text-secondary-800'}}) }}
                {{ form_errors(registrationForm.phoneUser) }}
                {{ form_widget(registrationForm.phoneUser)}}
            </div>
            <div class="flex flex-col mt-4">
                {{ form_label(registrationForm.plainPassword,'Mot de passe',
                    {'label_attr':{'class':'text-secondary-800'}}) }}
                {{ form_errors(registrationForm.plainPassword) }}
                {{ form_widget(registrationForm.plainPassword)}}
            </div>

            <div class="flex justify-center">
                <button type="submit" class="btn bg-secondary-800 text-primary-100 rounded-2xl p-2">Register</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
