{% extends 'base.html.twig' %}

{% block title %}{{animal.nom}}{% endblock %}

{%  block body %}
    <div class="flex bg-background-800/40 rounded-2xl justify-between min-h-[80%] p-6 m-8">
        <div class="">
            <article>
                PLACE POUR L'IMAGE
            </article>
        </div>
        <div class="flex flex-col justify-evenly">
            <article class="bg-background-600 rounded-2xl min-h-[10%] p-4">Prénom : {{ animal.nom }}</article>
            <article class="bg-background-600 rounded-2xl min-h-[10%] p-4">Poids : {{ animal.poids }}</article>
            <article class="bg-background-600 rounded-2xl min-h-[10%] p-4">Taille : {{ animal.taille }}</article>
            <article class="bg-background-600 rounded-2xl min-h-[10%] p-4">Date de naissance : DATE DE NAISSANCE</article>
            <article class="bg-background-600 rounded-2xl min-h-[10%] p-4">Caractéristiques : {{ animal.caracteristique }}</article>
        </div>
    </div>
{% endblock %}