{% extends 'base.html.twig' %}

{% block title %}{{animal.nom}}{% endblock %}

{%  block body %}
    <div class="mt-36 lg:mt-24 ml-6 mr-6 mb-64">
    <div class="flex-row sm:flex items-center bg-secondary-800/70 rounded-2xl justify-between min-h-[100%] p-6 m-8">
        <div class="h-[70%] md:h-[50%] max-w-[100%] sm:min-w-[30%] md:max-w-[50%]">
            <article class="flex p-6 m-8 ">
                {% if animal.imgAnimal is defined and animal.imgAnimal is not null %}
                        <img class="object-contain" src="{{ asset("images/animaux/")}}{{ animal.imgAnimal }}"  alt="Image de {{ animal.nom }}">
                    {% else %}
                        <img class="object-contain" src="{{ asset("images/default_images/animal-placeholder.png")}}"  alt="Image de {{ animal.nom }}">
                {% endif %}

            </article>
        </div>
        <div class="flex flex-col justify-evenly">
            <article class="flex-row items-center bg-background-600 rounded-2xl min-h-[10%] m-2 p-4">Prénom : {{ animal.nom }}</article>
            <article class="bg-background-600 rounded-2xl min-h-[10%] m-2 p-4">Poids : {{ animal.poids }} kg</article>
            <article class="bg-background-600 rounded-2xl min-h-[10%] m-2 p-4">Taille : {{ animal.taille }} cm</article>
            <article class="flex-row bg-background-600 rounded-2xl min-h-[10%] m-2 p-4">
                <div>Date de Naissance : {{ animal.dateNaissance|date("d/m/Y") }}</div>
                {% if animal.dateMort is not null %}
                    <div>Date de Mort : {{ animal.dateMort|date("d/m/Y") }}</div>
                {% endif %}
            </article>
            <article class="bg-background-600 rounded-2xl min-h-[10%] m-2 p-4">Caractéristiques : {{ animal.caracteristique }}</article>
        </div>
    </div>
    </div>
{% endblock %}