{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
    {# Hero #}
    <div class="grid grid-cols-12 bg-lion bg-cover bg-center bg-no-repeat h-[90svh] min-h-fit">
        <div class="col-start-2 col-end-12 lg:col-end-7 xl:col-end-6 flex gap-3 flex-col justify-center rounded-3xl lg:rounded-2xl p-4 bg-secondary-50/40 backdrop-filter backdrop-blur-sm self-center border border-secondary-50 border-s">
            <div class="flex justify-center">
                <img class="w-60 lg:w-40" src="images/LogoZoo.png" alt="Logo">
            </div>
        {% if is_granted('ROLE_ADMIN') %}
            <p class="text-4xl lg:text-2xl px-2 text-center">Compte administrateur</p>
            <a class="text-center bg-primary-500  mr-2 rounded-2xl p-2 text-4xl lg:text-2xl" href="{{ path('admin') }}">Accédez au back-office</a>
        {% else %}

            <p class="text-4xl lg:text-2xl text-justify px-2">Découvrez le Zoo Parc de Laval, un joyau de la biodiversité en plein cœur de la Mayenne. Rencontrez des animaux fascinants, vivez des moments uniques en famille et explorez la beauté de la nature. Une aventure inoubliable vous attend&nbsp;!</p>
            <a class="text-center bg-primary-500  mr-2 rounded-2xl p-2 text-4xl lg:text-2xl" href="{{ path('app_reservation_choose') }}">Réservez vos billets</a>
        {% endif %}
        </div>

    </div>

    {# Animations #}

    <div class="flex flex-col grow">
        <div class="bg-secondary-800 grow">
            <H1 class="text-text-50 text-center text-8xl lg:text-4xl mt-3 mb-6">Nos Animations</H1>
                <div class="flex overflow-x-scroll pb-10 hide-scroll-bar ">
                    <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 ">
                        <div class="flex inline-block px-3 flex-row gap-6">
                            {% for event in events %}
                                <div class="flex flex-col w-96 content-center m-3 rounded-3xl pt-2 pl-2 pr-2 bg-background-200/60 backdrop-filter backdrop-blur-sm border border-secondary-50 border-s">
                                    <a class="object-contain" href="{{ path('app_famille_animal_fambyid',{'id':event.id}) }}">
                                        <div class="bg-accent-200/60 backdrop-filter backdrop-blur-sm border border-secondary-50 border-s p-2 rounded-2xl">
                                            {% if event.imgEvent is defined and event.imgEvent is not null%}
                                                <img class="w-96 h-fit rounded-2xl" src="{{ asset("images/events/") }}{{ event.imgEvent }}" alt="Image de l'événement">
                                            {% else %}
                                                <img class="object-contain" src="{{ asset("images/default_images/animal-placeholder.png")}}"  alt="Image de {{ event.nomEvent }}">
                                            {% endif %}
                                        </div>
                                        <p class="text-center justify-center text-6xl lg:text-2xl text">{{ event.nomEvent }}</p>
                                        <p class="justify-center text-4xl lg:text-xl text">{{ event.description|u.truncate(100, '...') }}</p>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
        </div>
    </div>

    {# Animaux #}
        <div class="bg-background-100 grow">
            <H1 class="text-text-900 text-center text-8xl lg:text-4xl mt-3 mb-6">Nos Animaux</H1>
            <div class="flex overflow-x-scroll pb-10 hide-scroll-bar ">
                <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 ">
                    <div class="flex inline-block px-3 flex-row gap-5">
                        {% for famille in familles %}
                            <div class="flex flex-col w-96 content-center m-3 rounded-3xl pt-2 pl-2 pr-2 bg-secondary-800/60 backdrop-filter backdrop-blur-sm border border-secondary-50 border-s">
                                <a class="object-contain" href="{{ path('app_famille_animal_fambyid',{'id':famille.id}) }}">
                                    <div class="bg-secondary-800/60 backdrop-filter backdrop-blur-sm border border-secondary-50 border-s p-2 rounded-2xl">
                                        {% if famille.imgFamilleAnimal is defined and famille.imgFamilleAnimal is not null %}
                                            <img src="{{ asset('images/famille_animal/') }}{{ famille.imgFamilleAnimal }}" class="rounded-xl">
                                        {% else %}
                                            <img src="{{ asset('images/default_images/zone-placeholder.jpg') }}" class="rounded-xl">
                                        {% endif %}
                                    </div>
                                    <p class="text-primary-100 text-4xl lg:text-2xl text-center m-2">{{ famille.nomFamilleAnimal }}</p>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
