<!DOCTYPE html>
<html lang="fr" class="w-[100%] h-[100%]">
    <head>
        <meta charset="UTF-8">
        <meta name="theme-color" content="#00663D">
        <title>{% block title %}Welcome{% endblock %} - Zoo Parc de Laval</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex flex-col bg-background-100">
        <header id="header">
            <a href="{{ path('app_index') }}" class="hidden"></a>
            <a href="{{ path('app_event') }}" class="hidden"></a>
            <a href="{{ path('app_famille_animal') }}" class="hidden"></a>
            <a href="{{ path('app_zone_parc') }}" class="hidden"></a>
            <a href="{{ path('app_register') }}" class="hidden"></a>
            <a href="{{ path('app_register') }}" class="hidden"></a>
        </header>
        {% block body %}{% endblock %}


    </body>
</html>
