{% extends 'base.html.twig' %}

{% block title %}{{ zone.libZone }}{% endblock %}

{% block body %}
    <div class="flex flex-col content-center grow mt-36 lg:mt-24">

        <div class="flex justify-center mb-20">
            <div class="flex flex-col w-1/2 m-3 p-3 rounded-3xl bg-secondary-800/60 backdrop-filter backdrop-blur-sm border border-secondary-50 border-s">
                <h1 class="text-center text-6xl text-text-50 lg:text-4xl m-2">{{ zone.libZone }}</h1>
                <div class="flex justify-center">
                    {% if zone.imgZone is defined and zone.imgZone is not null %}
                    <img class="w-[100%] rounded-2xl" src="{{ asset('images/zone_parc/') }}{{ zone.imgZone }}">
                    {% else %}
                        <img src="{{ asset('images/default_images/zone-placeholder.jpg') }}" class="w-[100%] rounded">
                    {% endif %}
                </div>
            </div>
        </div>


        <div class="w-full bg-background-200">
            <h1 class="text-center text-6xl lg:text-4xl mb-10 mt-6 text-secondary-800 ">Les Animaux que vous pouvez voir:</h1>
            <div class="grid grid-cols-2 lg:grid-cols-3 gap-5 w-[90%] lg:w-[70%] m-auto">

            {% for animal in animals %}
                <div class="flex flex-col bg-secondary-800/60 backdrop-filter backdrop-blur-sm border border-secondary-50 border-s rounded-3xl ">
                    <a class="object-contain m-2" href="{{ path('app_famille_animal_fambyid',{'id':animal.id}) }}">
                        <div class="bg-secondary-800/60 backdrop-filter backdrop-blur-sm border border-secondary-50 border-s p-2 rounded-2xl">
                            {% if animal.imgFamilleAnimal  is defined and animal.imgFamilleAnimal is not null %}
                                <img class="w-[100%] rounded-2xl" src="{{ asset('images/famille_animal/') }}{{ animal.imgFamilleAnimal }}"  alt="Image de {{ animal.nomFamilleAnimal }}">
                            {% else %}
                                <img class="w-[100%] rounded-2xl" src="{{ asset("images/default_images/famille_animal-placeholder.jpg")}}"  alt="Image de {{ animal.nomFamilleAnimal }}">
                            {% endif %}
                        </div>
                        <div>
                            <p class="text-center text-4xl lg:text-2xl text-text-50">{{ animal.nomFamilleAnimal }}</p>
                            <p class="text-center text-xl lg:text-md italic text-text-200/50">{{ animal.nomScientifique }}</p>
                        </div>
                    </a>
                </div>
            {%endfor%}
            </div>
        </div>
    </div>


{% endblock %}
